{% extends 'base.html' %}

{% block content %}
<form action = "" method = "post">
    {% csrf_token %}
    {% for field in form %}
        <div class = "mb-3">
            {{field}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="row mx-2 fw-semibold">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value=Submit class="btn btn-primary">
</form>
{% if shortened_url %}
    <div class="row text-center">
        <span class="fs-5">
            Shortened url: 
            <a href="{{shortened_url}}" class="shortened-link bg-dark bg-opacity-75">{{shortened_url}}</a>
            <button class="copy btn btn-light" onclick="copyToClipboard('.shortened-link')"><i class="fa fa-regular fa-copy"></i></button>
        </span>
    </div>
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
{% endif %}
{% endblock content %}